.Title{
  margin-top: 0;
  text-align: center;
  font-size: 60px;
}

.input{
  border-radius: 40px;
  border: 1px solid grey;
  padding: 10px;
}

.form_signin label{
  border:none !important;
  padding-top: 3px;
  padding-bottom: 0px;
}

.input_short{
  width: 300px;
}

.input_long{
  width: 600px;
}

.input_big{
  width: 600px;
  height: 200px;
}

#submit{
  float: right;
  display: inline;
  margin-top: 25%;
  margin-right: 2%;
}

#select_skills{
  width: 800px;
  height: 50px;
}

#submit_skills{
  width: 200px;
  height: 50px;
  text-align: center;
}

#container_jobs{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}

#pourcentage{
  float: right;
}

#information_jobs{
  display: inline-block;
}

#form1{
  margin-left: 25%;
}

.Select-control{
  width: 500px !important;
  margin-left: 32%;
  margin-bottom: 10px;
}

#button_modal{
  float: right;
  margin-bottom: 1%;
}

#modal_company{
  background:none;
  border:none;
  float: left;
}
